Universitas_PML_App/src/conf/xml-resources/web-service-references/MDMService/wsdl/localhost_8080/MDMService/MDMService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="MDMService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/MDMService/MDMService?xsd=1"/>
</xsd:schema>
</types>
<message name="createDosen">
<part name="parameters" element="tns:createDosen"/>
</message>
<message name="findAllDosen">
<part name="parameters" element="tns:findAllDosen"/>
</message>
<message name="findAllDosenResponse">
<part name="parameters" element="tns:findAllDosenResponse"/>
</message>
<message name="findAllFakultas">
<part name="parameters" element="tns:findAllFakultas"/>
</message>
<message name="findAllFakultasResponse">
<part name="parameters" element="tns:findAllFakultasResponse"/>
</message>
<message name="findAllOpsi">
<part name="parameters" element="tns:findAllOpsi"/>
</message>
<message name="findAllOpsiResponse">
<part name="parameters" element="tns:findAllOpsiResponse"/>
</message>
<message name="findProgramStudiByFakultas">
<part name="parameters" element="tns:findProgramStudiByFakultas"/>
</message>
<message name="findProgramStudiByFakultasResponse">
<part name="parameters" element="tns:findProgramStudiByFakultasResponse"/>
</message>
<message name="findMataKuliahByProgramStudi">
<part name="parameters" element="tns:findMataKuliahByProgramStudi"/>
</message>
<message name="findMataKuliahByProgramStudiResponse">
<part name="parameters" element="tns:findMataKuliahByProgramStudiResponse"/>
</message>
<message name="findFakultasByIdFak">
<part name="parameters" element="tns:findFakultasByIdFak"/>
</message>
<message name="findFakultasByIdFakResponse">
<part name="parameters" element="tns:findFakultasByIdFakResponse"/>
</message>
<message name="findProgramStudiByIdProg">
<part name="parameters" element="tns:findProgramStudiByIdProg"/>
</message>
<message name="findProgramStudiByIdProgResponse">
<part name="parameters" element="tns:findProgramStudiByIdProgResponse"/>
</message>
<message name="findMahasiswaByNIM">
<part name="parameters" element="tns:findMahasiswaByNIM"/>
</message>
<message name="findMahasiswaByNIMResponse">
<part name="parameters" element="tns:findMahasiswaByNIMResponse"/>
</message>
<message name="findDosenWaliByNoReg">
<part name="parameters" element="tns:findDosenWaliByNoReg"/>
</message>
<message name="findDosenWaliByNoRegResponse">
<part name="parameters" element="tns:findDosenWaliByNoRegResponse"/>
</message>
<message name="findCekDosenWaliByNIP">
<part name="parameters" element="tns:findCekDosenWaliByNIP"/>
</message>
<message name="findCekDosenWaliByNIPResponse">
<part name="parameters" element="tns:findCekDosenWaliByNIPResponse"/>
</message>
<message name="findSemesterActive">
<part name="parameters" element="tns:findSemesterActive"/>
</message>
<message name="findSemesterActiveResponse">
<part name="parameters" element="tns:findSemesterActiveResponse"/>
</message>
<message name="findStatusBayarByNoReg">
<part name="parameters" element="tns:findStatusBayarByNoReg"/>
</message>
<message name="findStatusBayarByNoRegResponse">
<part name="parameters" element="tns:findStatusBayarByNoRegResponse"/>
</message>
<message name="findSemesterByidSemester">
<part name="parameters" element="tns:findSemesterByidSemester"/>
</message>
<message name="findSemesterByidSemesterResponse">
<part name="parameters" element="tns:findSemesterByidSemesterResponse"/>
</message>
<message name="findMataKuliahByidMK">
<part name="parameters" element="tns:findMataKuliahByidMK"/>
</message>
<message name="findMataKuliahByidMKResponse">
<part name="parameters" element="tns:findMataKuliahByidMKResponse"/>
</message>
<message name="findMataKuliahByIdOpsi">
<part name="parameters" element="tns:findMataKuliahByIdOpsi"/>
</message>
<message name="findMataKuliahByIdOpsiResponse">
<part name="parameters" element="tns:findMataKuliahByIdOpsiResponse"/>
</message>
<message name="findDosenWaliByNIP">
<part name="parameters" element="tns:findDosenWaliByNIP"/>
</message>
<message name="findDosenWaliByNIPResponse">
<part name="parameters" element="tns:findDosenWaliByNIPResponse"/>
</message>
<portType name="MDMService">
<operation name="createDosen">
<input wsam:Action="http://service/MDMService/createDosen" message="tns:createDosen"/>
</operation>
<operation name="findAllDosen">
<input wsam:Action="http://service/MDMService/findAllDosenRequest" message="tns:findAllDosen"/>
<output wsam:Action="http://service/MDMService/findAllDosenResponse" message="tns:findAllDosenResponse"/>
</operation>
<operation name="findAllFakultas">
<input wsam:Action="http://service/MDMService/findAllFakultasRequest" message="tns:findAllFakultas"/>
<output wsam:Action="http://service/MDMService/findAllFakultasResponse" message="tns:findAllFakultasResponse"/>
</operation>
<operation name="findAllOpsi">
<input wsam:Action="http://service/MDMService/findAllOpsiRequest" message="tns:findAllOpsi"/>
<output wsam:Action="http://service/MDMService/findAllOpsiResponse" message="tns:findAllOpsiResponse"/>
</operation>
<operation name="findProgramStudiByFakultas">
<input wsam:Action="http://service/MDMService/findProgramStudiByFakultasRequest" message="tns:findProgramStudiByFakultas"/>
<output wsam:Action="http://service/MDMService/findProgramStudiByFakultasResponse" message="tns:findProgramStudiByFakultasResponse"/>
</operation>
<operation name="findMataKuliahByProgramStudi">
<input wsam:Action="http://service/MDMService/findMataKuliahByProgramStudiRequest" message="tns:findMataKuliahByProgramStudi"/>
<output wsam:Action="http://service/MDMService/findMataKuliahByProgramStudiResponse" message="tns:findMataKuliahByProgramStudiResponse"/>
</operation>
<operation name="findFakultasByIdFak">
<input wsam:Action="http://service/MDMService/findFakultasByIdFakRequest" message="tns:findFakultasByIdFak"/>
<output wsam:Action="http://service/MDMService/findFakultasByIdFakResponse" message="tns:findFakultasByIdFakResponse"/>
</operation>
<operation name="findProgramStudiByIdProg">
<input wsam:Action="http://service/MDMService/findProgramStudiByIdProgRequest" message="tns:findProgramStudiByIdProg"/>
<output wsam:Action="http://service/MDMService/findProgramStudiByIdProgResponse" message="tns:findProgramStudiByIdProgResponse"/>
</operation>
<operation name="findMahasiswaByNIM">
<input wsam:Action="http://service/MDMService/findMahasiswaByNIMRequest" message="tns:findMahasiswaByNIM"/>
<output wsam:Action="http://service/MDMService/findMahasiswaByNIMResponse" message="tns:findMahasiswaByNIMResponse"/>
</operation>
<operation name="findDosenWaliByNoReg">
<input wsam:Action="http://service/MDMService/findDosenWaliByNoRegRequest" message="tns:findDosenWaliByNoReg"/>
<output wsam:Action="http://service/MDMService/findDosenWaliByNoRegResponse" message="tns:findDosenWaliByNoRegResponse"/>
</operation>
<operation name="findCekDosenWaliByNIP">
<input wsam:Action="http://service/MDMService/findCekDosenWaliByNIPRequest" message="tns:findCekDosenWaliByNIP"/>
<output wsam:Action="http://service/MDMService/findCekDosenWaliByNIPResponse" message="tns:findCekDosenWaliByNIPResponse"/>
</operation>
<operation name="findSemesterActive">
<input wsam:Action="http://service/MDMService/findSemesterActiveRequest" message="tns:findSemesterActive"/>
<output wsam:Action="http://service/MDMService/findSemesterActiveResponse" message="tns:findSemesterActiveResponse"/>
</operation>
<operation name="findStatusBayarByNoReg">
<input wsam:Action="http://service/MDMService/findStatusBayarByNoRegRequest" message="tns:findStatusBayarByNoReg"/>
<output wsam:Action="http://service/MDMService/findStatusBayarByNoRegResponse" message="tns:findStatusBayarByNoRegResponse"/>
</operation>
<operation name="findSemesterByidSemester">
<input wsam:Action="http://service/MDMService/findSemesterByidSemesterRequest" message="tns:findSemesterByidSemester"/>
<output wsam:Action="http://service/MDMService/findSemesterByidSemesterResponse" message="tns:findSemesterByidSemesterResponse"/>
</operation>
<operation name="findMataKuliahByidMK">
<input wsam:Action="http://service/MDMService/findMataKuliahByidMKRequest" message="tns:findMataKuliahByidMK"/>
<output wsam:Action="http://service/MDMService/findMataKuliahByidMKResponse" message="tns:findMataKuliahByidMKResponse"/>
</operation>
<operation name="findMataKuliahByIdOpsi">
<input wsam:Action="http://service/MDMService/findMataKuliahByIdOpsiRequest" message="tns:findMataKuliahByIdOpsi"/>
<output wsam:Action="http://service/MDMService/findMataKuliahByIdOpsiResponse" message="tns:findMataKuliahByIdOpsiResponse"/>
</operation>
<operation name="findDosenWaliByNIP">
<input wsam:Action="http://service/MDMService/findDosenWaliByNIPRequest" message="tns:findDosenWaliByNIP"/>
<output wsam:Action="http://service/MDMService/findDosenWaliByNIPResponse" message="tns:findDosenWaliByNIPResponse"/>
</operation>
</portType>
<binding name="MDMServicePortBinding" type="tns:MDMService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createDosen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllDosen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllFakultas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOpsi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramStudiByFakultas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMataKuliahByProgramStudi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFakultasByIdFak">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramStudiByIdProg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMahasiswaByNIM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDosenWaliByNoReg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCekDosenWaliByNIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSemesterActive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStatusBayarByNoReg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSemesterByidSemester">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMataKuliahByidMK">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMataKuliahByIdOpsi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDosenWaliByNIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MDMService">
<port name="MDMServicePort" binding="tns:MDMServicePortBinding">
<soap:address location="http://localhost:8080/MDMService/MDMService"/>
</port>
</service>
</definitions>